#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &mock_kscan;
    };

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};

#include "ZaruBall.dtsi"
#include <input/processors.dtsi>

&trackball_listener {
    status = "okay";

    &trackball_listener {
        input-processors = <&zip_temp_layer 4 500>;

        scroll {
            layers = <3>;
            input-processors =
                <&zip_xy_transform IINPUT_TRANSFORM_X_INVERT>;
                <&zip_xy_to_scroll_mapper>;
        };
    };
};